@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Chronicle-Display-Semibold';
    src: url('../fonts/Chronicle-Display-Semibold.otf');
}

@font-face {
    font-family: 'Chronicle-Display-Bold';
    src: url('../fonts/Chronicle-Display-Bold.otf');
}